.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.receipt-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

.welcome-message {
    position: absolute;
    top: 70px;
    left: 20px;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.center-content h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.center-content h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.upload-container {
    width: 100%;
    max-width: 100%;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0;
    transition: background-color 0.3s;
}

.upload-container:hover {
    background-color: #f0f0f0;
}

.upload-container p {
    font-size: 16px;
    font-weight: bold;
}

.receipt-adder {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.camera-preview {
    position: fixed;
    bottom: 100px;
    left: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    z-index: 100;
    border: 2px solid #ccc;
    background-color: black;
}

.capture-button {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
}

.sign-out-button {
    background-color: #ff4d4d;
}

.sign-out-button:hover {
    background-color: #ff1a1a;
}

@media (min-width: 768px) {
    .receipt-list {
        max-width: 600px;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .receipt-list {
        max-width: 800px;
        width: 100%;
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    .receipt-list {
        max-width: 1000px;
        width: 100%;
        padding: 30px;
    }
}

@media (max-width: 440px) {
    .header h1 {
        font-size: 1.2rem;
    }

    .receipt-list {
        padding: 5px;
    }
}
